<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="SpringbootMemoryIssuesApplication" type="SpringBootApplicationConfigurationType" factoryName="Spring Boot" nameIsGenerated="true">
    <option name="FRAME_DEACTIVATION_UPDATE_POLICY" value="UpdateClassesAndResources" />
    <module name="JVM-memory-issues.main" />
    <option name="SPRING_BOOT_MAIN_CLASS" value="com.memory.springbootmemoryissues.SpringbootMemoryIssuesApplication" />
    <option name="VM_PARAMETERS" value="-XX:+HeapDumpOnOutOfMemoryError -Xmx100m -XX:HeapDumpPath=heapdump/" />
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>